body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
	background: linear-gradient(180deg, #e7bebe 0%, #000dff 130%);
}

.divek {
    width: 300px;
    padding: 20px;
	background: linear-gradient(180deg, #e7bebe 0%, #000dff 130%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}